extends layout

block content
 h1= title
 - let cars  = results
 div(class="container-fluid")
    div(class="row")
    each item in results
      div(class="col-sm-2") Car Company:#{item.Car_Company}, Car Model:#{item.Car_Model}, Car Cost:#{item.Car_Cost}
 br
 